.cover-section1 {
    background-image: url("image2.png");
    height: 550px;
    width: 100%;
    background-size: cover;
    &>h1,&>h2,&>p {
        color: white ;
        position: relative;
        top: 30%;
        left: 10%;
        font-size: 57px;
        font-weight: 800px;
        background-color: #0F5C30;
        margin: 0;
        width: 150px;
        font-size: 40px;
        padding: 10px;
        text-align: center;
    }
    &>h2 {
        margin-top: 10px;
        width: 600px;
    }
    &>p {
        color: gray;
        background-color: white;
        margin-top: 20px;
        width: 150px;
        font-size: 20px;
        font-weight: 5px;
    }
    &>div {
        box-sizing: border-box;
        position: relative;
        height: 80px;
        width: 80px;
        background-color: #0F5C30;
        top: 53%;
        left: 50%;
        padding: 15px;

        &>div {
            height: 40px;
            width: 40px;
            border: white 4px solid;
        }
    }
}
/*---------------------------------------------------------------------------------------*/
.cover-section2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
    
}
.manage-style {
    padding-left: 50px;
    font-size: 30px;
}
.maharastra {
    padding-left: 380px;
    font-size: 30px;
}
.mask-img {
    height: 200px;
    width: 250px;
}
/*---------------------------------------------------------------------------------------*/

.cover-section3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 80px;
    padding-top: 70px;

    &>div {
        text-align: center;
        width: 100px;
    }
}
/*---------------------------------------------------------------------------------------*/
.cover-section4 {
    display: flex;
    flex-direction: row;
    margin: 0px;

    &>div {
        background-color: #3F3531;
        color: white;
        text-align: center;
        padding-left: 350px;
        padding-top: 100px;
        width: 100%;

        &>div {
            text-align: start;
            width: 400px;

            &>h1 {
                font-size: 30px;
            }
        }
    }
    &-img2 {
        position: relative;
        left: 100px;
        bottom: 430px;
    }
}

.know-more {
    background-color: #44AF72;
    font-size: 30px;
    width: 250px;
    text-align: center;
    padding: 10px;
}
.poly-img {
    box-sizing: border-box;
    position: absolute;
    left: 250px;
    bottom: 140px;
    background-color: #44AF72;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    text-align: center;    
    padding: 39px;
}