.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    list-style: none;
    background-color: white;
}

#navHome {
    border-left: 0;
}
.header {


    &__cont1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 35%;

        &>img {
            height: 100px;
            padding-right: 20px;
        }
    }
    &__cont2 {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__sub1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &>p{
            padding-left: 10px;
            padding-right: 10px;
            border-left: solid black 2px;
        }
        
    }
}

.header-sub{
    &__cont1 {
        display: flex;
        flex-direction: row;

        &>p {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    &__cont2 {
        display: flex;
        flex-direction: row;
        padding-left: 20px;

        &>img {
            position: absolute;
            bottom:  10;
            height: 20px;
            width: 20px;
        }
        &>div {
            padding-left: 10px;
            padding-right: 10px;
            border-left: solid 2px black;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 22px;
            margin-top: 17px;

            &>:nth-child(1) {
                background-color: #265781;
                height: 15px;
                width: 15px;
                border-radius: 7px;
                margin-right: 5px;
            }
            &>:nth-child(2) {
                background-color: #52b27b;
                height: 15px;
                width: 15px;
                border-radius: 7px;
                margin-right: 5px;
            }
            >:nth-child(3) {
                background-color: #f2e162;
                height: 15px;
                width: 15px;
                border-radius: 7px;
                margin-right: 5px;
            }
        }
        &>p{
            padding-left: 10px;
            padding-right: 10px;
            border-left: solid 2px black;

            &>:nth-child(1) {
                padding-left: 10px;
                padding-right: 10px;
                font-size: 10px;
                font-weight: bold;
            }
            &>:nth-child(2) {
                padding-left: 10px;
                font-size: 15px;
                font-weight: bold;
            }
            &>:nth-child(3) {
                padding-right: 10px;
                font-weight: bold;
                font-size: 20px;
            }
        }
    }
}
